<html>

  <head>
    <title>V-Market</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.js"></script>
    <script src="vendor/jquery-3.5.1.js"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/product-details.css" type="text/css" />
    <link rel="stylesheet" href="/css/checkout.css" type="text/css" />
    
    <!-- font for store name -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=El+Messiri:wght@700&display=swap" rel="stylesheet">    
    <!-- for shopping cart incon -->
    <script src="https://kit.fontawesome.com/db457e5834.js" crossorigin="anonymous"></script>
    
  </head>

  <body id='game-container'>
    <script type="module" src="js/main.js"></script>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
  </body>
  
</html>