<html>

  <head>
    <title>V-Market</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.js"></script>
    <script src="vendor/jquery-3.5.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/game.css" type="text/css" />
  </head>

  <body>
    <main>
      <div id="top-nav-bar">
        <h2>Nav Bar</h2>
      </div>
      <div id="game-chat-container">
        <div id="game-container">
          <script type="module" src="js/main.js"></script>
        </div>
        <div id="chat-side-bar">
          <div id="friends-list">
            <h3>Friends</h3>
            <ul>
              
            </ul>
          </div>
          <div id="messages">
            <ul>
            </ul>
          </div>
          <form>
            <input type="text" name="chat-message" id="chat-message" autocomplete="off">
            <button>Send</button>
          </form>
        </div>
      </div>
    </main>

  </body>
  
</html>