<html>

  <head>
    <title>V-Market</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--scripts to load jQuery, Phaser, Stripe and Socket.io-->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.52.0/dist/phaser.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!-- font for store name -->
    <!-- font for friends list -->
    <!-- for shopping cart icon -->
    <!-- custom style sheets-->
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <link rel="stylesheet" href="/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/css/game.css" type="text/css" />
    <link rel="stylesheet" href="/css/product-details.css" type="text/css" />
    <link rel="stylesheet" href="/css/checkout.css" type="text/css" />
    <link rel="stylesheet" href="/css/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/css/chat.css" type="text/css" />


  </head>

  <body>
    <main>
      <p>AAAAAAAAAAAAAAAAAAAAAAAA</p>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
  
</html>