#chat-side-bar{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid grey;
  flex-basis: 25%;
  /* background-color: rgb(71, 71, 174); */
  background-image: url('/props/navbar-bkg.jpg');
  background-size: 1000px 1200px;
  visibility: hidden;
  border-radius: 10px;
}

#friends-list{
  display:flex;
  flex-direction: column;
  flex-basis: 30%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: medium;
  padding: 10px;
}

#friends-list > h3 {
  font-family: 'Open Sans', sans-serif;
}

#friends-list ul li::marker{
  content: '🌎 ';
}

#offline-friends {
  /* border: 2px solid yellow; */
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 4px solid grey;
}

#offline-friends ul li::marker{
  content: '💤 ';
}

.chat-container{
  background-color: rgb(224, 250, 250);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message-history{
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  max-height: 250px;
  overflow: hidden;
  overflow-y: scroll;
  margin: 2px;
  flex-basis: 95%
}

.message-history li{
  list-style-type: none;
  border-radius: 10px;
  max-width: 95%;
  overflow-wrap: break-word;
}

.message-history .keep-right {
  position: relative;
  padding-left: 10px;
  right: -10px;
  background-color: rgb(222, 250, 215);
  margin-top: 5px;
}

.message-history .keep-left {
  position: relative;
  left: -35px;
  padding-left: 10px;
  margin-top: 5px;
  background-color: rgb(244, 205, 193);
}

#chat-side-bar form{
  display: flex;
  flex-direction: row;
}

#chat-side-bar form input{
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat-side-bar input:focus {
  outline: none;
}

#chat-side-bar form button{
  background: rgb(230, 186, 8);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: rgb(18, 52, 1);
}

