#checkout-table {
  /* border: 1px solid red; */
  width: 700px;
  /* text-align: center; */
  margin-left: 200px;
  margin-top: 50px;
  font-size: 2em;
}

#line-item-row {
  /* border: 1px solid green; */
  width: 25px;
}

#line-item-row > td {
  /* border: 1px solid blue; */
  height: 25px;
}

#line-item-row > td:hover {
  box-shadow: unset;
  cursor: unset;
}

#line-item-row > td > button {
  color: grey;
  border: none;
  background-color: #FFF;
  opacity: 0.5;
  text-align: center;
  margin: 5px;
}


#line-item-row > td > button:hover {
  color: red;
  opacity: 1;
}

#proceed {
  display: flex;
  justify-content: space-around;
  height: 40px;
}

#checkout-button {
  margin-top: 5px;
}

#order-total {
  font-weight: bold;
  text-align: right;
}