main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

#game-chat-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-color: black; */
}

#game-container{
  width: 75%;
  flex-basis: 75%;
  height: 90vh;
  /* background-color: black; */
}


/* Login on Side Chat bar if user not logged in */

#friends-list.disable{
  height: 100%;
  justify-content: center;
}

#messages.disable {
  height: 100%;
  display: flex;
  border: 4px solid green;
  align-items: center;
}

.in-game-video-call-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  width: 70%;
  height: 20vh;
  position: absolute;
  top: 0;
}

.in-game-local-video{
  background: #666;
  border: 2px solid red;
  z-index: 100;
  flex-basis: 30%;
}

.in-game-remote-video{
  background: #666;
  border: 2px solid green;
  z-index: 100;
  flex-basis: 30%;
}

#start-call{
  height: 50px;
  align-self: center;
  /* background-color: green; */
}

#end-call{
  height: 50px;
  align-self: center;
  /* background-color: red; */
}

.call-notification{
  position: fixed;
  background: #f2f2f2;
  top: 30vh;
  width: 30%;
  height: 20vh;
  left: 25%;
  border: 2px solid grey;
  background-image: url('/props/navbar-bkg.jpg');
  background-size: 400px 400px;
  /* display: flex; */
  /* justify-content: center; */
  padding: 20px;
  text-align: center;
  vertical-align: center;
  max-height: 300px;
  max-width: 300px;
  padding-top: 50px;
}

.call-notification button {
  margin-top: 20px;
}

/* Login on Side Chat bar if user not logged in */

#friends-list.disable{
  height: 100%;
  justify-content: center;
}

.message-history.disable {
  height: 100%;
  display: flex;
  flex-direction: column;
}


#Please-login {
  text-align: center;
}

#login.in-game{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat-side-bar .message-history form label {
  text-align: center;
}

#chat-side-bar .message-history form #name {
  flex-grow: 0;
  margin-bottom: 1rem;
}

#chat-side-bar .message-history form #password {
  flex-grow: 0;
  margin-bottom: 1rem;
}

#chat-side-bar .message-history form p{
  height: 1.5rem;
  width: 100%;
  color: rgb(141, 24, 24);
  text-align: center;
  font-weight: 800;
}

#chat-side-bar .message-history form div{
  display: flex;
  justify-content: space-evenly;
}

#chat-side-bar .message-history form div button {
  text-align: center;
  width: 30%;
}