main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
}

#game-chat-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: black;

}

#game-container{
  border: 4px solid rgb(10, 10, 89);
  width: 75%;
  flex-basis: 75%;
  height: 90vh;
  background-color: black;
}
#chat-side-bar{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid grey;
  flex-basis: 25%;
  /* background-color: rgb(71, 71, 174); */
  background-image: url('/props/navbar-bkg.jpg');
  background-size: 1000px 1200px;
  visibility: hidden;
  /* /* border-radius: 10px; tammys preferences */

}

#friends-list{
  display:flex;
  flex-direction: column;
  flex-basis: 45%;
  border-bottom: solid 2px grey;
  padding: 10px;
  /* background-color: aquamarine; */
  /* font-family: 'Didact Gothic', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: medium;
}
#friends-list > h3 {
  font-family: 'Open Sans', sans-serif;
}

#messages{
  list-style-type: none;
  /* font-family: 'Didact Gothic', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  
}
#messages li{
  list-style-type: none;
  padding-left: 15px;
  color: white;
  background-color: darkslategrey;
  border-radius: 10px;
  
}

#messages>li:nth-child(odd) {
    background: #FFF;
    color:rgb(10, 10, 89)
  }

#chat-side-bar form{
  display: flex;
  flex-direction: row;
  
}
#chat-side-bar form input{
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#chat-side-bar input:focus {
  outline: none;
}

#chat-side-bar form button{
  background: rgb(230, 186, 8);
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: rgb(18, 52, 1);
}
