/* nav bar */

#top-nav-bar{
  display: flex;
  border: 2px solid grey;
  align-items: center;
  background-image: url('/props/navbar-bkg.jpg');
  background-size: 200px 100px;
  border-radius: 100px;
  position: absolute;
  top: 10px;
  left: 20%;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  visibility: hidden;

}

#top-nav-bar > button {
  margin: 2px;
  margin-right: 10px;
}

.dropdown-menu {
  background-image: url('/props/navbar-bkg.jpg');
  background-size: 160px 160px;
}

.dropdown-item {
  color: #6c757d;
}

#logo {
  margin-right: 5px;
  height: 20px;
  margin: 2px;
  margin-left: 10px;
  margin-right: 20px;
}
