/* this have to change to inline style from phase to*/
#backdrop {
  visibility: hidden;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  width:1280px;
  height:960px;
  -webkit-animation: fadein 0.15s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.15s; /* Firefox < 16 */
  -ms-animation: fadein 0.15s; /* Internet Explorer */
  -o-animation: fadein 0.15s; /* Opera < 12.1 */
  animation: fadein 0.15s;
}

#backdrop.fadeout {
  opacity: 0;
  -webkit-animation: fadeout 0.15s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 0.15s; /* Firefox < 16 */
  -ms-animation: fadeout 0.15s; /* Internet Explorer */
  -o-animation: fadeout 0.15s; /* Opera < 12.1 */
  animation: fadeout 0.15s;
}

#store_banner {
  position:fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:15%; 
}

#store_banner > h1 {
  color: #bbbbbb;
  align-self: center;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  /* Change the font for the store to look nicer */
  /* font-family:'Monaco, Helvetica, sans-serif';
  border: 2px solid red; */
  font-family: 'Carter One', cursive;
}

#store_banner > header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background:rgba(116, 1, 113, 0.8);
  display: flex;
  justify-content: flex-end;
  height: 20%;
  width: 100%;
}

#close-button {
  background: rgba(255, 0, 0, 0.6);
  border-top-right-radius: 0.5rem;
  height: 100%;
  width: 3.8%;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#close-button > div {
  height: 70%;
  width: 70%;
  background-image: url(/icon/close.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 0.2rem;
  align-self: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

#close-button:hover {
  background: rgba(255, 0, 0, 1);
  cursor: pointer;
}
#close-button:hover > span {
  color: #111111;
}

/* too be added
#search-bar {
  
}
*/
main{
  background-color: #f5f0f0;
}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#store-data {
  align-self: center;
  width:90%; 
  height:90%; 
  border-radius: 0.5rem;
  background: white;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}



#products-grid {
  justify-content: space-between;
  flex-basis: 65%;
}

#products-grid > table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1rem 2rem;
}

.product {
  background-color: #f3f3f3;
  height: 80px;
}

td {
  height:18rem;
  width:24%;
}

.thumbnail{
  object-fit: contain;
  width: 90%;
  height: 65%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
  border:0;
}



.description{
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 25%;
  margin: 5%;
}

.product-name {
  width: 100%;
  height: 60%;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
  font-size: 1.5rem;
}

.price {
  width: 100%;
  height: 40%;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}

#products-grid > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
  justify-content: center;
  padding-bottom: 2rem;
  font-weight: bold;
  font-family: Arial;
}

/* 
#request-data {
  
}
*/

.call-notification{
  position: fixed;
  background: #f2f2f2;
  top: 30vh;
  width: 30%;
  height: 20vh;
  left: 25%;
  border: 2px solid grey;
  /* display: flex; */
  /* justify-content: center; */
  padding: 20px;
  text-align: center;
  vertical-align: center;
  max-height: 300px;
  max-width: 300px;
  padding-top: 50px;
}

#customer {
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
  padding-left: 2rem;
  width: 300px;
  flex-basis:25%;
  justify-content: flex-start;
  align-items: center;
  background-color: #cddfe7;
}

#customer video{
  box-shadow: #bbbbbb;
  max-width: 300px;
  max-height: 250px;
}

#seller-local-video{
  max-height: 300px;
  border: 1px solid #cddfe7;
  margin-top: 1rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

#customer-remote-video{
  margin-bottom: 2rem;
  margin-top: 2rem;
  max-height: 300px;
  border: 1px solid #cddfe7;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}

#end-call{
  width: 100px;
}

.queue-container{
  align-self: flex-start;

}