<div id="loginInsert">
  <div class='login-box'>
    <h1 class="login-title"><img src="https://see.fontimg.com/api/renderfont4/8VA2/eyJyIjoiZnMiLCJoIjo5NywidyI6MTAwMCwiZnMiOjk3LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/Vi1NYXJrZXQ/quite-magical-regular.png" alt="Cute fonts"></h1>
  </div>
  <div class="card login">
    <form id='login'>
      <label for="name">User Name</label>
      <input type="text" id="name" name="name" placeholder="Your user name"></input>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Your password"></input>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" id="login-button">Login</button>
        <button type="button"class="btn btn-success btn-lg" id="register-button">Register</button>
      </div>
    </form>
  </div>
</div>




