<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <button class="btn btn-primary btn-lg" id="login-button">Login</button>
    <button class="btn btn-danger btn-lg" id="error-button">Error</button>
    <!--Temporary form for testing only-->
    <br><br>
    <form style="background-color: aquamarine;">
      <label for="email-input">Email</label>
      <input type="email" name="email" id="email-input">
      <label for="password-input">Password</label>
      <input type="password" name="password" id="password-input">
      <button>submit</button>
    </form>
  </div>
</body>
</html>