<!-- may be add image as backdrop? -->
<div id="backdrop">
  <div id="store_banner">
    <header>
      <div id="close-button">
        <div>

        </div>
      </div>
    </header>
    <!-- h1 should be a with link to take user to main page of store -->
    <h1>Durian Store</h1>
    <div id="search-bar">
    </div>
  </div>
  <div id="store-data">
    <div id="products">
      <div id=products-grid>
        <table>
          <colgroup>
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
          </colgroup>
          <tr>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
            <td>
              <img class="thumbnail" src="https://i.imgur.com/8CIyTeh.gif;"/>
              <div class="description">
                <div class="product-name">
                  Ski-bi dibby dib yo da dub dub
                </div>
                <div class="price">
                  $399.99
                </div>
              </div>
            </td>
            <td>              
              <img class="thumbnail" src="https://i.imgur.com/PGXEqCr.gif;"/>
              <div class="description">
                <div class="product-name">
                  Da ba dee da ba di
                </div>
                <div class="price">
                  $65.96
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div>
          <button id="request-data" class="btn btn-primary">Load more Product</button>
        </div>
      </div>
      <footer>
        
      </footer>
    </div>
  </div>
  <div id="customer-support">
    <p>Need 
Help?</p>
    <div>
    </div>
    <p>Click for 
Customer
Support</p>
  </div>
</div>