<!-- may be add image as backdrop? -->
<div id="backdrop">
  <div id="store_banner">
    <header>
      <div id="close-button">
        <div>
        </div>
      </div>
    </header>
    <!-- h1 should be a with link to take user to main page of store -->
    <h1></h1>
    <div id="search-bar">
    </div>
  </div>
  <div id="store-data">
    <div id="products">
      <div id='products-grid'>
        <table>
          <colgroup>
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
          </colgroup>
        </table>
        <div>
          <button id="request-data" class="btn btn-primary">Load more Product</button>
        </div>
      </div>
      <footer>
      </footer>
    </div>
  </div>
  <div id="customer">
    <span id="checkout">
      <p>Checkout</p>
      <p id="credit-card"><i class="far fa-credit-card fa-3x"></i></p>
    </span>
    
    <p>Need 
Help?</p>
    <div id="customer-support">
    </div>
    <p>Click for 
Customer
Support</p>
  </div>
</div>