<!-- may be add image as backdrop? -->
<div id="backdrop">
  <div id="store_banner">
    <header>
      <div id="close-button">
        <div>

        </div>
      </div>
    </header>
    <!-- h1 should be a with link to take user to main page of store -->
    <h1>Durian Store</h1>
    <div id="search-bar">
    </div>
  </div>
  <div id="store-data">
    <div id="products">
      <div id=products-grid>
        <table>
          <colgroup>
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
            <col class="product">
          </colgroup>
          <tr>
            <td><div class="thumbnail"></div><div class="photo">John</div></td>
            <td>Doe</td>
            <td>80</td>
            <td>Doe</td>
            <td>80</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
            <td>Doe</td>
            <td>80</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
            <td>Doe</td>
            <td>80</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
            <td>Doe</td>
            <td>80</td>
          </tr>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>80</td>
            <td>Doe</td>
            <td>80</td>
          </tr>

        </table>
        <button id="request-data">Load more Product</button>
      </div>
    </div>
  </div>
  <div id="customer-support">
    <p>Need 
Help?</p>
    <div>
    </div>
    <p>Click for 
Customer
Support</p>
  </div>
</div>